<div id="page-content" style="width: 130%" >
	<div class="c-content-box">
		<div class="page-content-inner">
			<div class="vc_row wpb_row vc_row-fluid">
				<div class="wpb_column vc_column_container vc_col-sm-12">
					<div class="vc_column-inner ">
						<div class="wpb_wrapper">
							<div class="c-content-box m-forced" ng-controller="UserAddCtrl">
								<h2>Popunite formu</h2>

								<form >
									<fieldset class="bbp-form">

										<div class="bbp-username">
											<label for="user_login">Korisničko ime: </label>
											<input type="text" name="log" value="" ng-model="user.username" size="20" id="user_login" tabindex="101" />
										</div>

										<div class="bbp-username">
											<label for="user_login">Ime: </label>
											<input type="text" name="log" value="" ng-model="user.fName" size="20" id="user_login" tabindex="101" />
										</div>

										<div class="bbp-username">
											<label for="user_login">Prezime: </label>
											<input type="text" name="log" value="" ng-model="user.lName" size="20" id="user_login" tabindex="101" />
										</div>

										<div class="bbp-username">
											<label for="user_login">E-mail: </label>
											<input type="text" name="log" value="" ng-model="user.email" size="20" id="user_login" tabindex="101" />
										</div>

										<div class="bbp-password">
											<label for="user_pass">Lozinka: </label>
											<input type="password" name="pwd" value="" ng-model="user.pass" size="20" id="user_pass" tabindex="102" />
										</div>


										<div style="color: red;" ng-if="message=='invalid'">
											Korisnik već postoji u sistemu!
										</div>

										<div style="color: green;" ng-if="message=='success'">
											Uspešno ste dodali novog korisnika!
										</div>

										<div class="bbp-submit-wrapper">

											<button type="submit" tabindex="104" name="user-submit" class="button submit user-submit" ng-click="registration()">Dodaj korisnika</button>
										</div>
									</fieldset>
								</form>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
