<div class="c-content-box" style="width: 130%">
	<h1 style="text-align: center;">
		<span style="font-style: italic; color: #55555; font-weight: bold">
			XML web servisi
		</span>
	</h1>
	<div style="border-bottom: 1.5px solid #555"></div>

	<div style="margin: 5%">
		<p style="color: #555">
			Dobrodošli na stranicu Skupštine grada Novog Sada.
			Ovde možete pregledati usvojene akte i amandmane, kao i one u obradi.
		</p>
		<p style="color: #555">
			Ukoliko ste član Skupštine, možete se ulogovati koristeći Vaše korisničko ime i lozinku klikom na ikonicu u gornjem desnom uglu.
		</p>
	</div>
</div>
